/*
   CSS NORMALIZE

   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  html, body {
    width: auto !important;
    overflow-x: hidden !important;
  }

body{
  font-family:sans-serif;
  background-image: url("imgs/cloud-cover.png");

}


  /*Styling for page */



  #brain-gain{
 background-color: white;

   
  }

  .camp-old-navy-logo{
    width: 8%;
    position: fixed;
    margin-top: 40px;
     margin-left: 60px;
  }

 .back-to-top, .logo{
  display: inline;
 }

  img.back-to-top{
    width: 2%;
    margin-bottom: -5px;
    margin-right: 7%;
  }

  img.shop-old-navy{
    margin-bottom: -15px;
    max-width: 9%;
  }

  .logo{
        height: 70%;
        margin-left: 7%;

  }


  /*  kids dream big text block in the center of the #kids-dream-big section at the top of the page */

  #kids-dream-big-group{
     text-align: center;
    color: #EF422E;
    font-family: sans-serif;  
    text-align: center;

  }


.kids {
       position: absolute;
    margin-left: -40px;
    margin-top: -145px;
}

.dream{
     position: absolute;
    margin-left: -100px;
    margin-top: -85px;

}


  .big{
    font-size:150px;
    font-weight:600;
  }

  .so-do-we{
    font-size:16px;
    font-weight:600;
    margin-bottom: 10px;
  }

  .all-kids-deserve{
    font-size:12px;
    line-height: 20px;
    color:gray;
    font-weight:200;
  }


/*cloud promo*/
.cloud-promo{
  float: right; 
  margin-top: 20px;
}


/*navigation*/

.nav-item-icon{
    height: 60%;
    padding-right: 5px;
    padding-top: 12px;
}

.nav-group{
  display: none;
  text-align: center;
  background-color: white;
  position: fixed;
  height: 60px;
  width: 100%;
  padding-top: 10px;
  z-index: 1000;
  margin-top: -20px;
}

.nav-item{
    text-align: center;
    display: inline;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
}


li.nav-item:hover{
  text-decoration: none;
}

a.shop-old-navy{
color:#264d73;
font-weight: 700;
letter-spacing: 1px;

}


  p.nav-text{ 
    display: inline;
    color:#444444;
    font-weight: 700;
  }

/*three buckets*/

#three-buckets{
    background-repeat: repeat-x, repeat-y;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}

.three-buckets{
  text-align: center;
}

.bucket-1, .bucket-2, .bucket-3{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  color:#444444;
  font-size: 25px;
  font-family:sans-serif;

  padding-bottom: 40px;
  padding-top: 20px;
  background: rgba(255,255,255, 0.8);
}


.bucket-1{
margin-left: 4%
}

.bucket-2{
margin-right: 8%;
margin-left: 8%;
}

.bucket-3{
margin-right: 4%;
}


.mini-bucket{
    font-size:12px;
    line-height: 25px;
    color:gray;
    font-weight:200;
}





.camp{
    color:red;
    text-align: left;
  }



  a:hover{ 
    text-decoration: none;
  }
  
  a:active p.nav-text{ 
    text-decoration: none;
  }
  
  a:focus{
  text-decoration: none; 
  }

.skinny-promo{
  background-color: navy;
  width:100%;
  position: fixed;
  display: none;
  color:white;
}



i.fa{
  margin-top: 20px;
  font-size: 25px;
}

.fa {
 color: #EF422E;
  }

i.fa-times{
    color: navy;
    float: right;
    margin-top: 340px;
    margin-right: 140px;
    font-size: 30px;
}
  


 .fa-chevron-circle-down{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size:40px;
    color: #EF422E;
  }

  i.fa-chevron-circle-down{
     font-size: 50px;
  }

.photo-marshall{
  margin-top: 30px;
}

.bubble-marshall{
  margin-bottom: 0px;
  z-index: 1000;
}

.plane{
    position: fixed;
    text-align:  right;
    width: 60%;
    margin-top: 50px;
    margin-left:500px;
}


p.grades{
  color:#0B749D;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 600;
}


.wave{
  width:110%;
}

#brain-gain{
  padding-top: 100px;
  margin-left:25px ;
  margin-right:25px;

}

#this-way-ahead{

}

/*
summer brain gain is like rocket fuel */

p.jim-clark{
    text-align: right;
    margin-top: 20px;
    color:black;
    letter-spacing: 2px;

}

p.jim-clark-title{
   text-align: right;
   margin-top: 10px;
   margin-bottom: 10px;
   color:silver;
   font-size: 15px;
   letter-spacing: 2px;
}

p.steven-lali{
    text-align: left;
    margin-top: 20px;
    color:black;
    letter-spacing: 2px;
    margin-left: 80px;
}


p.steven-lali-title{
   text-align: left;
   margin-top: 10px;
   margin-bottom: 10px;
   color:silver;
   font-size: 15px;
   letter-spacing: 2px;
   margin-left: 80px;

}

img.strikes-a-cord{
    margin-left: 80px;
    margin-top: -190px;
    max-width: 60%;
}

.triangle-and-quote{
  display: none;
}


#kids-safety{

}

.section-description{
    color: gray;
    margin-top: 30px;
    margin-bottom: 60px;
    line-height: 48px;
    font-size: 28px;
    font-weight: 100;
    font-family: sans-serif;
    margin-left: 100px;
}

  p.summer-brain-gain-paragraph{
    text-align: left;
    margin-right: 350px;
    margin-left: 350px;
    line-height: 30px;
    font-size: 16px;
    margin-top: 30px;
    color: silver;
  }

  .malani-story-text-two{
  
  text-align: left;
  font-weight: 100;
  display:none;
  margin-top: 20px;
  font-size: 20px;
  color:gray;
  line-height: 30px;
  letter-spacing: 1px;
  padding-left: 60px;
  padding-right: 30px;

}

  i.brain-gain-expand{
    text-align: center;
  }

.b-gain-lockup{
  margin-left:40px;
}

div.head-start{
  text-align: center;
  margin-top:40px;
  margin-bottom:40px;
  max-width: 70%;
   margin-right: auto;
  margin-left: auto;
}

p.marshall-story-text{
 text-align: left;
  font-weight: 100;
  margin-top: 20px;
  font-size: 20px;
  color:gray;
  line-height: 30px;
  letter-spacing: 1px;
  padding-left: 10px;
  padding-right: 80px;
}

.section-header{
    font-family: sans-serif;
    color: red;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;
}

.kiddo-shot-left, .kiddo-shot-right{
  text-align: center;
}

.img-responsive{
display:inline;
}

.malani-story-title{
   float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
}

div.summer-brain-gain-container{
    text-align: center;
  }

  .brain-gain-chevron-holder{
text-align: center;
  }

  .stat-bucket-group{
    display:none;
  }

.marshall-expand{
    text-align: center;
    margin-left: -100px;
}

.marshall-close{
    text-align: center;
    margin-left: -100px;
  }

.stat-group{
  margin-bottom: 40px;
}

.malani-story-text{
  text-align: left;
  margin-top: 100px;
  font-size: 20px;
  color:gray;
  line-height: 30px;
  letter-spacing: 1px;
  padding-left: 60px;
  padding-right: 30px;
  font-weight: 100;
}

img.img-responsive.bubble{
  margin-top: 80px;
}



.stripes{    
  margin-bottom: 60px;

}

/*.shadow{
    position:absolute;
    top:54em;
    width:100%;
    height:3em;
    background: -webkit-linear-gradient(transparent, white);
    background: -o-linear-gradient(transparent, white);
    background: -moz-linear-gradient(transparent, white;
    background: linear-gradient(transparent, white);
  }
*/
  .malani-expand {
    position:relative;
    width:180px;
    max-height:100px;
    overflow:hidden;
}



@media screen and (max-width: 992px) {
  .bucket-1, .bucket-2, .bucket-3{
    margin-left: 4%;
    margin-right: 4%;
  }

  .bucket-3{
    margin-bottom: 40px;
  }

}



