/*
   CSS NORMALIZE

   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  html, body {
    width: auto !important;
    overflow-x: hidden !important;
  }

  body{
    font-family:sans-serif;


  }



ul#nav-group  li.active-link>a{
     text-decoration:underline;
     color:red;
 }

.navbar-fixed-top{
      padding-top: 20px;
}

  /*fonts */

  @font-face {
    font-family: Gotham-Bold;
    src: url(Gotham/Gotham-Bold.otf);
  }

  @font-face {
    font-family: Gotham-Book;
    src: url(Gotham/Gotham-Book.otf);
  }

  @font-face {
    font-family: Gotham-Light;
    src: url(Gotham/Gotham-Light.otf);
  }

  @font-face {
    font-family: Block-Web;
    src: url(BE_Block_Web_UC.otf);
  }

  /*Styling for page */


#this-way-ahead, #kids-safety, #brain-gain {
    padding-top: 70px;
    padding-bottom: 50px;
    }

#kids-safety, #brain-gain{
   background-image: url("imgs/cloudy-cover.png");
}

  #kids-safety-section, #this-way-ahead-section, #brain-gain-section{
   background-color: white; 
 }

   section#dream-big-bucket-trio-cloud-cover{
    background-image: url("imgs/cloudy-cover.png");
  }

 .camp-old-navy-logo{
  width: 160px;
  position: fixed;
  margin-top: 40px;
  margin-left: 60px;
}




/*  kids dream big text block in the center of the #kids-dream-big section at the top of the page */

#kids-dream-big-group{
 text-align: center;
 font-family: sans-serif;  
 margin-top: 150px;

}


.kids {
 text-align: center;
}

.dream{
 text-align: center;
}


.big{
 text-align: center;
}

.so-do-we-img{
 text-align: center;

}

.all-kids-deserve{
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  font-weight: 200;
  font-family: Gotham-Light;

}



/*cloud promo*/
.cloud-promo{
  margin-top: 20px;
  position: absolute;
  margin-left: 60%;
}

.promo-close{
    font-family: Gotham-Light;
    color: #444444;
    margin-left: 320px;
    font-size: 25px;
}

.promo-close-footer {
    font-family: Gotham-Light;
    color: #444444;
    float: right;
    margin-right: 10%;
    font-size: 25px;
}

.promo-close-footer-2 {
    font-family: Gotham-Light;
    color: #444444;
    float: right;
    margin-right: 10%;
    font-size: 20px;
}

.cloud-promo-image{

}




/*navigation*/

img.camp-old-navy-logo-nav{
    width: 65px;
    margin-bottom: -5px;
    margin-right: 5%;
}



.back-to-top, .logo{
  display: inline;
}

li.back-to-top-logo{
  display: inline;
}

.shop-old-navy-mobile, .back-to-top-mobile{
  display: none;
}

img.back-to-top {
    width: 28px;
    margin-bottom: 5px;
    float: left;
    margin-left: 20px;

  }

img.shop-old-navy{
  margin-bottom: -16px;
  max-width: 150px;
  margin-left: 5%;
}




.nav-item-icon{
  height: 60%;
  padding-right: 5px;
  padding-top: 14px;
}


.nav-group-mobile{
  display: none;
  text-align: center;
  background-color: white;
  position: fixed;
  width: 100%;
  padding-top: 10px;
  z-index: 1000;
  margin-top: 0px;
}

.nav-group{
  display: none;
  text-align: center;
  background-color: white;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 1000;
  margin-top: -20px;
  padding-top: 10px;
}

.nav-item{
  text-align: center;
  display: inline;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: black;
}

.charge-ahead-footer{
  display:none;
}

.charge-ahead-footer-mobile{
  display:none;
}

.promo-footer{
  width: 100%;
  margin-bottom: -4px;
}



li.nav-item:hover{
  text-decoration: none;
}

a.shop-old-navy{
  color:#264d73;
  font-weight: 700;
  letter-spacing: 1px;
}


p.nav-text{ 
  display: inline;
  color:#444444;
  font-weight: 700;
  font-family: Gotham-Bold;
}



/*three buckets*/

#three-buckets{
  background-repeat: repeat-x, repeat-y;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 200px;
  padding-bottom: 100px;
}

.three-buckets{
  text-align: center;
}

.bucket-1, .bucket-2, .bucket-3{
  margin-top: 40px;
  text-align: center;
  color:#444444;
  font-size: 25px;
  font-family:sans-serif;
  padding-bottom: 40px;
  padding-top: 20px;
  background: rgba(255,255,255, 0.8);
}


.bucket-1{
  margin-left: 9%
}

.bucket-2{
  margin-right: 3%;
  margin-left: 3%;
}

.bucket-3{
  margin-right: 9%;
}


.mini-bucket{
    font-size: 16px;
    line-height: 25px;
    color: #444444;
    font-weight: 220;
    width: 200px;
    font-family: Gotham-Light;
    margin-left: auto;
    margin-right: auto;
}


.mini-bucket-stat{
    font-size: 16px;
    line-height: 25px;
    color: #444444;
    font-weight: 200;
    font-family: Gotham-Light;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.mini-bucket-stat-border{
  border-top: 1px gray solid;
  padding-top: 20px;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}




/*end bucket group
*/
.camp{
  color:red;
  text-align: left;
}



a:hover{ 
  text-decoration: none;
}

a:active p.nav-text{ 
  text-decoration: none;
}

a:focus{
  text-decoration: none; 
}




i.fa{
  margin-top: 20px;
  font-size: 25px;
}

.fa {
 color: #EF422E;
}

i.fa-times{
  color: navy;
  float: right;
  margin-top: 340px;
  margin-right: 140px;
  font-size: 30px;
}



.fa-chevron-circle-down{
  margin-top: 30px;
  margin-bottom: 20px;
  font-size:40px;
  color: #EF422E;
}

i.fa-chevron-circle-down{
 font-size: 50px;
}



p.grades{
    font-family: Gotham-Bold;
    color: #0B749D;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 100;
    padding-top: 20px;
    border-top: .2px solid #0B749D;
    max-width: 140px;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 1.5px;
}


p.bucket-title{
  font-family: Gotham-Bold;
  font-size: 20px;
  letter-spacing: 2px;
}

/*BRAIN GAIN*/


/*
summer brain gain is like rocket fuel */

p.jim-clark{
  text-align: right;
  margin-top: 20px;
  color:black;
  letter-spacing: 2px;   
  margin-right: 15%;

}

p.jim-clark-title{
 text-align: right;
 margin-top: 10px;
 margin-bottom: 10px;
 color:silver;
 font-size: 15px;
 letter-spacing: 2px;
 margin-right: 15%;
}

p.steven-lali{
  text-align: left;
  margin-top: 20px;
  color:black;
  letter-spacing: 2px;
  margin-left: 80px;
}


p.steven-lali-title{
 text-align: left;
 margin-top: 10px;
 margin-bottom: 10px;
 color:silver;
 font-size: 15px;
 letter-spacing: 2px;
 margin-left: 80px;

}

img.strikes-a-cord{
  margin-left: 80px;
  margin-top: -160px;
  max-width: 55%;
}

.section-description-photo{
  text-align: center;
  margin-left: 14px;
  margin-right: 14px;
}

.section-description{
    color: #737373;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 35px;
    font-size: 22px;
    font-family: Gotham-Light;
    letter-spacing: 1px;
}

/*summer brain gain*/

div.summer-brain-gain-container{
  text-align: left;
  margin-left: 20%;
  margin-top: 60px;
}

p.summer-brain-gain-paragraph{
  text-align: left;
  margin-right: 20%;
  line-height: 32px;
  font-size: 20px;
  margin-top: 30px;
  color: #444444;
  font-family: Gotham-Light;
}

.brain-gain-chevron-holder{
 text-align: center;
}

i.brain-gain-expand{
  text-align: center;
}


.lockup{
text-align: center;
}

/*head start
*/

div.head-start{
  text-align: center;
  margin-top:40px;
  margin-bottom:40px;
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
}



.img-responsive{
  display:inline;
}




/*stat group*/




.stat-group, .stat-group-one{
  margin-bottom: 25px;
}




/*  MARSHAL SECTION*/

.kid-col{
  margin-top: 60px;
}

.kid-col-2{
  margin-top: 100px;
}

.marshall-reading{
 max-width: 100%;
 margin-top: 280px;
}

.marshalls-story{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    max-width: 40%;
}




.photo-marshall{
  margin-top: 30px;
}

.bubble-marshall{
    margin-bottom: 0px;
    z-index: 100;
    max-width: 100%;
    position: absolute;
    margin-top: -40px;
}

a.shop-now{
  position: absolute;
  margin-top: 300px;
  margin-left: 230px;
  font-family: Gotham-Bold;
  color: black;
  font-size: 14px;
  text-decoration: underline;
}

a.legal{
    position: absolute;
    margin-top: 320px;
    margin-left: 250px;
    font-family: Gotham-Bold;
    color: black;
    font-size: 12px;
}



.charge-ahead-footer{
 width: 100%;
}

.pop-up-footer{
  max-width:100%;

}

.donation{
  text-align: center;
  font-family: Gotham-Bold;
}

.dates{
  color: red;
  text-align: center;
  line-height: 25px;
  font-family: Gotham-Bold;
}

/*MALANI SECTION*/

.wave{
  z-index:4;
  margin-top: 370px;
}

.kiddo-shot-left, .kiddo-shot-right {
  text-align: center;
}




/*  .malani-story-text-two{
  text-align: left;
  font-weight: 100;
  display:none;
  margin-top: 20px;
  font-size: 20px;
  color:gray;
  line-height: 30px;
  letter-spacing: 1px;
  padding-left: 60px;
  padding-right: 30px;

  }*/


  .malani-story-text{
    text-align: left;
    font-size: 18px;
    color: #444444;
    line-height: 30px;
    letter-spacing: 1px;
    padding-left: 30px;
    padding-right: 20px;
    font-weight: 100;
    font-family: Gotham-Light;
  }

  .malani-story-text-mobile-container{
    text-align: left;
  }

  .malani-story-title{
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 40%;
    margin-right: 20px;
 }

 .malani-expand {
  position:relative;
  width:180px;
  max-height:100px;
  overflow:hidden;
}


img.Natalia-bubble{
  margin-top: -20px;
  z-index: 100;
  position: absolute;
  display:block;
}

img.Malani-bubble{
  margin-top: 10px;
  z-index: 100;
  position: absolute;
  display:block;
}

.stripes{    
  margin-bottom: 60px;

}

.rocket-quote{
  margin-top: 90px;
  margin-left: -20px;
}

.blue-flame{
    margin-left: -16px;
    float: left;
}


.malani-story-text-mobile, .malani-story-title-mobile, .redBar-mobile{
  display: none;
}

.hide-on-desktop{
  display: none;
  margin-left: auto;
  margin-right: auto;
}


.head-start-image{
  max-width: 70%
}

.head-start-info{
  text-align:center;
}

.head-start-text{
  text-align: center;
  font-family: Gotham-Light;
  font-size: 20px;
  line-height: 40px;
  padding-left: 5%;
  padding-right: 5%;
}


.donate-button{
   display: inline;
    padding-left: 7%;
    width: 30%;
    margin-top: 20px;


}

.volunteer-button{
    display: inline;
    padding-right: 7%;
    width: 30%;
    margin-top: 20px;

}

.nav-duo{
  margin-top: 40px;
  margin-bottom: 140px;
  text-align: center;
}

.nav-one, .nav-two{
  display: inline
}

.jommel-stripes{
  float: right;
  margin-bottom: 100px;
}

.hide-and-expand-TWA, .hide-and-expand-brain-gain{
  display: none;
}

.button-expand{
  max-width: 220px;
  margin-top: 0px;

}

.camp-old-navy-logo-nav-mobile{
  display:none;
  }

/*
  Kids safety section*/

.kid-bubble-div{
  margin-bottom: 60px;
}



.check-tell-watchout-one{
  text-align: right;

}


.check-tell-watchout-two{
  text-align: center;

}

.check-tell-watchout-three{
text-align: left;
}


.check-tell-watchout-text{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 1px;
  color:#444444;
  font-family: Gotham-Light;
  max-width: 300px;
}

 .watch-out, .check, .dotted-left{
    text-align: center;
    margin-left: 40%;
}

 .tell, .buddy-up, .dotted-right{
    text-align: center;
    margin-right: 40%;
}

.dotted-left-img, .dotted-right-img{
  margin-bottom: 20px;
}

.check-img, .buddy-up-img, .tell-img{
    max-height: 50px;
}

.img-space{
  margin-top: 20px;

}

.save-the-date-group{
  text-align: center;
  margin-top: 60px;
}

p.save-the-date{
  color:#444444;
  font-family: Gotham-Bold;
  margin-bottom: 30px;
  letter-spacing: 1.3px;
}

p.stop-by-store{
    line-height: 45px;
    font-family: Gotham-Light;
    color: gray;
    font-size: 23px;
    margin-bottom: 50px;
    margin-top: 50px;

}

button.find-a-store-button{
    color: #0099cc;
    letter-spacing: 1.3px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: none;
    background-image: none;
    border: 1px solid #0099cc;

}


/*show and hide*/
.mom-quote{
    float: right;
    margin-right: 60px;
    margin-top: 160px;
    max-width: 700px;
}


.quote-mobile{
  display:none;
}


/*LIGHTBOX MARKUP*/
.lightbox {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .9);
}

.lightbox div {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;

}

.box-image{
border: black 1px solid;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}



/*



END LIGHTBOX*/

@media screen and (min-width: 1440px) {

  #brain-gain-section, #kids-safety-section, #this-way-ahead-section{
      margin-left: 18%;
      margin-right: 18%;
    }

  }



@media screen and (min-width: 1340px) {

  #brain-gain-section, #kids-safety-section, #this-way-ahead-section{
      margin-left: 12%;
      margin-right: 12%;
    }

    .button-expand {
    max-width: 200px;
  }

  .section-description-photo{

  margin-right: 15%;
  margin-left: 15%;
}
}




@media screen and (max-width: 1120px){

  img.camp-old-navy-logo-nav{
    width: 65px;
    margin-bottom: -5px;
    margin-right: 3%;
}

img.shop-old-navy{
  margin-bottom: -16px;
  max-width: 150px;
  margin-left: 3%;
}

  .cloud-promo-img{
   max-width: 500px;
 }

 a.legal {
  position: absolute;
  margin-top: 310px;
  margin-left: 238px;
  font-family: Gotham-Bold;
  color: black;
  font-size: 12px;
}

a.shop-now{
  position: absolute;
  margin-top: 290px;
  margin-left: 220px;
  font-family: Gotham-Bold;
  color: black;
  font-size: 14px;
  text-decoration: underline;
}



}


@media screen and (max-width: 1100px) {



}


@media screen and (max-width: 992px) {


  p.marshall-story-text{
    text-align: left;
    font-weight: 100;
    font-size: 20px;
    color: #595959;
    margin-bottom: 30px;
    line-height: 30px;
    letter-spacing: 1px;
    padding-left: 0px;
    padding-right: 20px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: Gotham-Light;
}

p.summer-brain-gain-paragraph{
   color: #737373;
}
    ul.nav-group, ul.nav-group-mobile{
    display: inline;
  }

.camp-old-navy-logo{
  display: none;
}
  /* kids dream big */

.lightbox:target, .lightbox {

  display:none;
}

  .charge-ahead-footer{
    display:inline;
  }

  #kids-dream-big-group{
    margin-top: 100px;

  }

  /* navigation */

  .head-start-text{
    text-align:center;
    font-family: Gotham-Light;
    font-size: 12px;
    line-height: 20px;
  }


  ul.nav-group-mobile{
    margin-top: -20px;
    text-align: center;
    background-color: white;
    position: fixed;
    height: 60px;
    width: 100%;
    padding-top: 10px;
    z-index: 1000; 
  }

  .nav-group{
    margin-top: 22px;
    height: 54px;
  }

  .nav-item-icon{
    height: 30px;
    padding-top: 17px;

  }


  .logo{
    display: none;
  }

  .back-to-top, .camp-old-navy-logo-nav, .shop-old-navy{
    display: none;
  }

  .back-to-top-mobile, .shop-old-navy-mobile{
    display: inline;
  }

  .back-to-top-mobile{
     max-width: 25px;
    float: left;
    margin-left: 10px;
  }

  .shop-old-navy-mobile{
  max-width: 125px;
  float: right;
  margin-right: 25%;
 }

.camp-old-navy-logo-nav-mobile{
    max-width: 50px;
    display: inline;
    margin-left: 25%;
    float:left;
}
 

 .this-way-ahead-nav, .brain-gain-nav, .kids-safety-nav{
  font-size:17px;
}



/*cloud-promo*/

.cloud-promo{
  display:none;
}



/* three buckets */
#three-buckets {
  padding-top: 100px;

}

.bucket-1, .bucket-2, .bucket-3{
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  color: #595959;
  font-size: 25px;
  padding-bottom: 20px;
  padding-top: 10px;
  background: rgba(255,255,255, 0.8);
}

i.fa{
  margin-top: 10px;
  font-size: 50px;
}

i.fa-chevron-down{
    margin-top: 10px;
    font-size: 25px;
}



.bucket-3{
  margin-bottom: 40px;
}

.mini-bucket{
  display: none;
}

/*BRAIN GAIN SECTION*/

.section-description{
    color: #595959;
    line-height: 35px;
    font-size: 22px;
    font-family: Gotham-Light;
    letter-spacing: 1px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

.hide-on-mobile{
  display: none;
}

.hide-on-desktop{
  display: block;
}

.stat-group-one{
margin-top: 70px;
}


.steven-lali, .steven-lali-title, .strikes-a-cord, .malani-bw, .blue-flame, .wave, .malani-story-text, .malani-story-title, .MaLani-redBar{
  display:none;
}

.redBar-mobile{
  display: inline;
}

.malani-story-title-mobile{
  display: inline;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  max-width: 40%;
}

.malani-story-title-mobile-div{
  text-align: left;
  margin-left: 3%;
}

.img-block-mobile{
      max-width: 94%;
}

.triangle-and-quote{
  display:none;
}

.head-start-info{
  margin-bottom: 60px;

}


.marshall-reading-mobile {
  margin-left: auto;
  margin-right: auto;

}



p.malani-story-text-mobile{
  display: inline;
  text-align: left;
  font-size: 20px;
  color: #595959;
  line-height: 30px;
  letter-spacing: 1px;
  font-family: Gotham-Light;
   max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

div.malani-story-text-mobile-container{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

  }


img.Natalia-bubble {
   position: relative;
}

img.Malani-bubble{
  position: relative;
}

.summer-brain-gain-mobile{
  margin-left: 5%;
  max-width: 60%; 
}

p.summer-brain-gain-paragraph{
  font-family: Gotham-Light;
  margin-left: 5%;
  margin-right: 10%;
  font-size: 20px;
  color: #595959;

}

div.summer-brain-gain-container{
  margin-left: 10%;
  font-family: Gotham-Light;
}

.rocket-quote{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 40px;
  max-width: 80%
}

p.quote-name{
  margin-right: 50px;
  margin-top: 20px


}

p.quote-title{
  margin-right: 50px;
  margin-left: 3%;
  margin-bottom: 100px;
}

.kid-col{
  text-align: center;
}

.kid-col-2{
  text-align: center;
}

.bubble-marshall{
 position: relative;
 margin-top: -20px;
 margin-bottom: 0px;

}

.photo-marshall{
  margin-top: 10px;
}

.marshalls-story{
 margin-top: 40px;
 padding-left: 10px;
}

.mom-quote{
  margin-top: 30px;
  margin-right: 0px;
}


.lockup{
  margin-left:0px;
  text-align: center;
  margin-top: 100px;
}

.kid-col-2{
margin-top:30px;
}

.auto-center{
 margin-left: auto;
 margin-right: auto;
}

.center{
 text-align: center;
}




.lockup-img{
    width: 40%;

}

.check-img{
   margin-top: 50px;
}

.mom-quote{
       float: none; 
}

.check-tell-watchout-text{
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 1px;
  color:#595959;
  font-family: Gotham-Light;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto
}

.dotted-left-img{
    margin-top: 30px;
  margin-bottom: 30px;
}

.watch-out, .check, .dotted-left{
  margin-left: 0px;
  text-align: center;
}


}


@media screen and (max-width: 700px) {
  li.nav-item{
margin-left: 7px;
margin-right: 7px;
}

}


@media screen and (max-width: 567px) {



#three-buckets{

  padding-bottom: 100px;
}


.lockup-img{
    width: 50%;

}



/*  show/hide*/

.quote-mobile{
  display:inline;
}

.quote-desktop{
  display:none;
}


  img.icon-img-bucket{
        max-width: 35px;

}



  i.fa-chevron-circle-down{
   font-size: 40px;
  }

  .kids{
    width: 13%;
  }

  .dream{
    width: 28%;
  }

  .big{
    width: 50%;
  }

  .so-do-we-img{
    width: 44%;
  }

  .all-kids-deserve {
    font-size: 10.5px;
    line-height: 20px;
    color: #444444;
    font-weight: 200;
    margin-left: 5%;
    margin-right: 5%;

  }


  .charge-ahead-footer-mobile{
    display:inline;
  }

  .charge-ahead-footer{
    display:none;
  }


  .mini-bucket-stat{
    margin-left: auto;
    margin-right: auto;
  }

  .malani-story-text-mobile-container {
    margin-bottom: 40px;
  }



  .nav-group{
    height: 50px;

  }

  .nav-item-icon {
    height: 65%;
  }

  .head-start-image{
    max-width: 110%;
    margin-left: -15px;
  }

  
.promo-footer-pop-up-2{    
  margin-bottom: -3px;
  margin-top: -3px;}

  .this-way-ahead-nav, .brain-gain-nav, .kids-safety-nav{
    font-size:13px;
  }

  .this-way-ahead-nav{
   margin-right: 20px;
   margin-left: 0px;
 }
 .brain-gain-nav{
  margin-left: 10px;
  margin-right: 10px;
}
.kids-safety-nav{
  margin-left: 10px;
  margin-right: 0px;

}

.current{
  color: red;
}


.lockup-img-brain-gain{
    width: 60%;
}


.shop-old-navy-mobile{
  margin-right: 15%;
}

.camp-old-navy-logo-nav-mobile {
    max-width: 50px;
    float: left;
    margin-left: 15%;

  }

  .button-expand{
  max-width: 160px;
  margin-top: 0px;

}

.back-to-top-mobile {
    max-width: 20px;
}


}


@media screen and (max-width: 454px) {
  .discover-button{
      margin-top: 40px;
    }

    .nav-item-icon{
      display: none;
    }

.nav-item{
margin-left: 3px;
margin-right: 3px;
}
}

@media screen and (max-width: 424px) {
  .discover-button{
      margin-top: 20px;
    }

  }

    @media screen and (max-width: 402px) {
  .discover-button{
      margin-top: 40px;
    }


}


    @media screen and (max-width: 400px) {
  .discover-button{
      margin-top: 40px;
    }

.this-way-ahead-nav, .brain-gain-nav, .kids-safety-nav {
    font-size: 10px;

}

.nav-group {
    height: 40px;
}


}


/*
WIDTH AND HEIGHT */







